.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: gray;
    color: white;
    h1 {
        font-size: 40px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
}

